<div class="container">
  <app-top-bar></app-top-bar>
  <div class="doctors-container">
    <h1>List of doctors</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Specialty</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doctor of doctors">
          <td>{{ doctor.name }}</td>
          <td>{{ doctor.specialty }}</td>
          <td class="buttons">
            <button class="select" (click)="selectDoctor(doctor)" *ngIf="user && user.role !== 'Doctor'">Select</button>
            <button class="reviews" (click)="viewReviews(doctor)">Reviews</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
