<div class="container">
  <div class="form-container">
    <h1>Log in</h1>
    <p *ngIf="error" class="error">{{ error }}</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input type="email" class="field" id="email" formControlName="email" placeholder="Email">
      <input type="password" class="field" id="password" formControlName="password" placeholder="Password">
      <button type="submit" class="btn">Log in</button>
    </form>
    <p>Don't have an account? <a routerLink="/register">Register</a></p>
  </div>
</div>
