.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.calendar-container {
  max-height: 400px;
  overflow: auto;
}

.calendar {
  border-collapse: collapse;
}

.calendar td + td,
.calendar th + th { border-left: 1px solid #ddd; }
.calendar tr + tr { border-top: 1px solid #ddd; }

.calendar th {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.day {
  width: 80px;
}

.calendar td {
  background-color: #fff;
  color: #333;
  text-align: center;
  height: 40px;
  min-width: 50px;
}

.timeslot {
  font-style: italic;
}

.date {
  font-weight: normal;
  font-style: italic;
}

.currentDay, .currentTimeslot {
  color: #007bff !important;
  font-weight: bold !important;
}

.absence {
  color: red !important;
}

.buttons {
  display: flex;
  gap: 10px;
  width: fit-content;
}

.buttons button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 125px;
}

.buttons button:hover {
  background-color: #0056b3;
}
