<div class="options">
  <switch-source></switch-source>
  <switch-doctor *ngIf="user?.role != 'Doctor'"></switch-doctor>
  <log-out *ngIf="user"></log-out>
  <login-buttons *ngIf="!user"></login-buttons>
</div>
<div class="container" *ngIf="user">
  <app-calendar></app-calendar>
  <div class="buttons" *ngIf="user?.role == 'Doctor'">
    <add-availability></add-availability>
    <add-absence></add-absence>
  </div>
  <div class="buttons" *ngIf="user?.role == 'Admin'">
    <button routerLink="/admin">Admin tools</button>
  </div>
</div>
