.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.buttons, .options {
  display: flex;
  gap: 10px;
}

.options {
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  align-items: baseline;
}
