<div class="container">
  <button (click)="toggleForm()" class="show">Add Absence</button>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" [class.visible]="formVisible">
    <div class="form-group">
      <label for="startDate" class="section-label">Start date</label><br>
      <input type="date" class="form-control" id="startDate" formControlName="startDate">
    </div>
    <div class="form-group" *ngIf="!form.get('oneTime')?.value">
      <label for="endDate" class="section-label">End date</label><br>
      <input type="date" class="form-control" id="endDate" formControlName="endDate">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
