.container {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #0056b3;
}

.buttons-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  height: fit-content;
  width: 400px;
  padding: 20px;
  margin: 40px auto 0;
}

.back {
  align-self: flex-start;
}

.buttons-container button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}

.buttons-container button:hover {
  background-color: #0056b3;
}
