div {
  border-radius: 2px;
  width: 95%;
  height: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.free {
  cursor: pointer;
}

.free:hover {
  background-color: #b0e0e6 !important;
}

.tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  z-index: 10;
  pointer-events: none;
  opacity: 0.9;
  transform: translate(10px, 10px);
  height: fit-content;
  width: 150px;
}
