body {
  width: 100%;
  height: 100%;
}

div {
  border-radius: 2px;
  width: 95%;
  height: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.free {
  cursor: pointer;
}

.free:hover {
  background-color: #b0e0e6 !important;
}
